#nav-menu {
  padding: 0px 7px;
  color: var(--pale-yellow);
  font-size: 30px;
  display: block;
  position: fixed;
  transition: color 0.5s, transform 0.5s, text-shadow;
  transform: rotateY(0deg);
  z-index: 2;
  text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
}

#nav-menu[data-toggle-on=true] {
  transform: rotateY(180deg);
  color: var(--light-red);
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}

nav {
  background: var(--light-red);
  width: var(--nav-width);
  height: 100%;
  position: fixed;
  overflow: hidden scroll;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.6);
  font-weight: 600;
  left: calc(var(--nav-width) * -1);
  transition: left 0.5s;
  z-index: 1;
}

nav[data-hidden-parents='0'] {
  left: 0px;
}


nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav > ul {
  padding-top: 40px;
  margin-bottom: 200px;
  /* height: 100%; */
}

@media only screen and (min-width: 768px) { /* only on non-mobile */
  nav {
    left: 0px;
  }

  #nav-menu {
    display: none;
  }
}

a.nav-item:hover {
  /* background-color: rgba(255, 255, 255, 0.05); */
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}

/* for collapsing */
a.nav-item[data-hidden-parents='0'] {
  height: var(--height);
  left: 0px;
  opacity: 1;
}

a.nav-item {
  --height: 50px;
  /* background-color: #F27059; */
  height: 0px;
  transition: opacity 0.5s, left 0.5s, height 0.5s, background-color 0.5s, box-shadow 0.4s;
  overflow: hidden;
  display: list-item;
  position: relative;
  left: -100px;
  opacity: 0;

  line-height: var(--height);
  color: #F7EDE3;
  font-size: 18px;
  text-decoration: none;
}

/* for sublinks */
a.nav-sublink > i {
  transition: transform 0.2s;
  position: relative;
  top: initial;
  left: 10px;
  transform: rotateX(180deg);
}

a.nav-sublink[data-toggle-on=true] > i {
  transform: rotateX(0deg);
}

a.nav-item.shine:hover {
  background-image: radial-gradient(circle at var(--gradient-x) var(--gradient-y), var(--orange), var(--light-red) 100px);;
}
